a:hover {
    outline: none;
    text-decoration: none;
}

.wrapper {
    display: grid;
    /* grid-gap: 1rem; */
}

.menu-icon {
    display: block;
    height: 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

/* navbar end */

/* hero start */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grade-wrapper {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; */
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.hero .grade {
    padding: 100px;
}

.custom-card {
    position: relative;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: .375rem;
    transition: .3s;
}

/* hero end */

/* custom breadcrumb start */
.custom-breadcrumb {
    background: transparent;
}

.custom-btn-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* custom breadcrumb end */

/* product start */

.product-wrapper {
    display: grid;
    grid-gap: 1rem;
    /*background: #eee;*/
    /* padding: 2rem; */
}

.product-row {
    display: flex;
    justify-content: center;
}


/* product end */

/* direct-group start */
.direct-group {
    display: flex;
    justify-content: space-between;
}

/* direct-group end */

/* footer start */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: .5rem;
}

.footer-item {
    /* padding: 5px; */
}

/* footer end */
.hero {
    background: white;
    border-radius: 10px;
}
.custom-card {
    border-radius: 10px;
    margin: 30px 0 20px;
}
.class-card {
    position: relative;
    color: white;
    border-radius: 10px;

}
.class-card .number {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid rgba(255,255,255,0.8);
    line-height: 50px;
    font-size: 20px;
    box-sizing: content-box;
    color: white;
}
.class-card h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 30px auto;
    color: white;
}
.class-card.blue-card .number{
    background: #01a9ac;
}
.class-card >a {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgba(255,255,255,0.9);
    border-radius: 15px;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
}
.class-card.blue-card >a{
    color: #01a9ac;
}

.class-card.red-card .number{
    background: #fe5d70;
}
.class-card.red-card >a{
    color: #fe5d70;
}
.class-card.green-card .number{
    background: #0ac282;
}
.class-card.green-card >a{
    color: #0ac282;
}

.custom-breadcrumb {
  margin-bottom: 20px;
}
.custom-breadcrumb a.active {
    background: rgb(64, 78, 103, 0.7);
}
.custom-breadcrumb a {
    transform: skewX(-25deg);
    background: #404E67;
    margin: 0 10px;
}
.custom-breadcrumb a >span {
    transform: skewX(25deg);
    color: white;
    font-style: normal;
    display: block;
}
.custom-breadcrumb a >span >span {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgba(255,255,255,0.8);
    color: #404E67;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
    margin-right: 5px;
}
.product-wrapper {
    background: white;
    border-radius: 10px;
}