a:hover {
    outline: none;
    text-decoration: none;
}

.wrapper {
    display: grid;
    /* grid-gap: 1rem; */
    height: 100%;
    grid-template-rows: max-content 1fr max-content;
}

/* navbar start */

.bell {
    background: rgba(0, 0, 0, 0) url(../../assets/img/chuong.png) no-repeat scroll center center;
}


.book {
    background: rgba(0, 0, 0, 0) url(../../assets/img/book.png) no-repeat scroll center center;
}


.user {
    background: rgba(0, 0, 0, 0) url(../../assets/img/user.png) no-repeat scroll center center;
}

.sign-out {
    background: rgba(0, 0, 0, 0) url(../../assets/img/sign-out.png) no-repeat scroll center center;
}


.menu-icon {
    display: block;
    height: 100%;
    position: relative;
    width: 32px;
    height: 32px;
}

/* navbar end */

/* hero start */
.hero {
    background: #fafafa;
}

.hero-inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.timeline {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.study-content {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#accordion {
    display: grid;
    grid-gap: .5rem;
}

.option-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: auto;
    /* display: grid;
    justify-content: space-around; */

}

.hero .grade {
    padding: 100px;
    background: red;
}

.custom-card {
    position: relative;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: .375rem;
    transition: .3s;
}

/* hero end */

/* panel start   */

.panel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "subject-panel chapter-panel lesson-panel";
    grid-gap: 30px;
}

.subject-panel {
    grid-area: subject-panel;
    background: lawngreen;
}

.subject-panel-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

.chapter-panel {
    grid-area: chapter-panel;
    background: lightpink;
}

.chapter-panel-inner {
    display: grid;
    grid-gap: .75rem;
}

.lesson-panel {
    grid-area: lesson-panel;
    background: lightseagreen
}

.lesson-panel-inner {
    display: grid;
    grid-gap: .75rem;
}

.lesson:hover {
    cursor: pointer;
}

/* panel end */

/* direct-group start */
.direct-group {
    display: flex;
    justify-content: space-between;
}

/* direct-group end */

/* footer start */

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: .5rem;
}

.footer-item {
    /* padding: 5px; */
}

/* footer end */

/* single-page-wrapper start */
.single-page-wrapper {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.choice-img {
    width: 100%;
    height: 128px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-body {
    background: #404E67;
    color: #fff;
    font-weight: bold;
    user-select: none;
    display: flex;
    align-items: center;
}

/* single-page-wrapper end */