* {
  outline: none!important;
  font-family: 'OpenSans';
}
.hidden {
  display: none;
}
.green-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3))!important;
  background: linear-gradient(to right, #0ac282, #0df3a3)!important;
}
.red-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#fe5d70), to(#fe909d))!important;
  background: linear-gradient(to right, #fe5d70, #fe909d)!important;
}
.blue-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#01a9ac), to(#01dbdf))!important;
  background: linear-gradient(to right, #01a9ac, #01dbdf)!important;
}
.orange-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#fe9365), to(#feb798))!important;
  background: linear-gradient(to right, #fe9365, #feb798)!important;
}

@font-face{
  font-family:'FontAwesome';
  src:url('../../assets/fonts/fontawesome-webfont.ttf');
}
@font-face{
  font-family:'OpenSans';
  src:url('../../assets/fonts/OpenSans_0.ttf');
}
.header {
  background: #404E67;
}
.search-header {
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 250px!important;
  color: white;
  padding: 5px 20px;
  font-size: 15px;
}
.search-header::placeholder {
  color: rgba(255,255,255,0.8);
}
.fa-search:after{
  display: block;
  content: '\f002';
  color: white;
  font: 15px 'FontAwesome';
}
.form-content {
  position: relative;
}
.form-content .fa-search {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}

.fa-bell:after {
  content: '\f0f3';
  display: block;
  color: white;
  font: 15px 'FontAwesome';
}

.fa-book:after {
  content: '\f02d';
  display: block;
  color: white;
  font: 15px 'FontAwesome';
}

.fa-user:before {
  content: '\f007';
  display: inline;
  color: white;
  font: 15px 'FontAwesome';
  margin-right: 10px;

}
.fa-user {
  font-style: normal;
}
.menu-item-name {
  position: relative;
}
.menu-item-name >a{
  width: auto!important;
  line-height: 14px;
}
.menu-item-name .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left:0;

}
.menu-item-name >a:after {
  content: '\f107';
  display: inline;
  color: white;
  font: 15px 'FontAwesome';
  margin-left: 5px;
}

.wrapper {
  background: #f6f7fb;
}
.main-content {
  padding: 20px;
}
.hero {
  background: white;
  border-radius: 10px;
}
.custom-card {
  border-radius: 10px;
  margin: 30px 0 20px;
}
.class-card {
  position: relative;
  color: white;
  border-radius: 10px;
  cursor: pointer;

}
.class-card .number {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 3px solid rgba(255,255,255,0.8);
  line-height: 50px;
  font-size: 20px;
  box-sizing: content-box;
  color: white;
}
.class-card h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 30px auto;
  color: white;
}

.class-card >a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  background: rgba(255,255,255,0.9);
  border-radius: 15px;
  text-align: center;
  padding: 5px 20px;
  font-size: 15px;
}
.class-card.blue-card >a{
  color: #01a9ac;
}
.class-card.blue-card .number{
  background: #01a9ac;
}
.class-card.red-card .number{
  background: #fe5d70;
}
.class-card.red-card >a{
  color: #fe5d70;
}
.class-card.green-card .number{
  background: #0ac282;
}
.class-card.green-card >a{
  color: #0ac282;
}

.custom-breadcrumb {
  margin-bottom: 20px;
}
.custom-breadcrumb a.active {
  background: rgba(64, 78, 103, 0.7);
}
.custom-breadcrumb a {
  transform: skewX(-25deg);
  background: #404E67;
  margin: 0 10px;
}
.custom-breadcrumb a >span {
  transform: skewX(25deg);
  color: white;
  font-style: normal;
  display: block;
}
.custom-breadcrumb a >span >span {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.8);
  color: #404E67;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
  margin-right: 5px;
}
.product-wrapper {
  background: white;
  border-radius: 10px;
}
.custom-card {
  border: none;
  padding: 0 20px;
  box-shadow: none!important;
}
.course-card {
  cursor: pointer;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}
.course-card .card-body {
  background: white;
} 
.course-card .card-footer {
  color: white;
  border: none;
  font-size: 20px;
  text-align: center;
}

.course-card .card-title{
  margin: 30px 0;
}

.course-card.blue-gradient .card-title{
  color: #01a9ac;
  font-size: 30px;
}
.course-card.red-gradient .card-title{
  color: #fe5d70;
  font-size: 30px;
}
.course-card.green-gradient .card-title{
  color: #0ac282;
  font-size: 30px;
}
.course-card.orange-gradient .card-title{
  color: #fe9365;
  font-size: 30px;
}

.course-card.active-card .card-title{
  color: white;
}

.footer {
  padding: 0 20px;
  background: white;
  border-top: 2px solid rgba(64, 78, 103, 0.7);
}
.footer a {
  color: #404E67;
  font-size: 15px;

}
/* .footer a:after {
  content: '\f105';
  display: inline-block;
  color: #404E67;
  font: 15px 'FontAwesome';
  margin-left: 15px;
} */
.footer a:last-child:after {
  display: none; 
}
.direct-group a{
  color: white!important;
}