.bank-transfer-wrapper {
    width: 100%;
}

.atm-card-img {
    display: flex;
    justify-content: center;
}

.payment {
    width: max-content;
}

.install {
    width: max-content;
}

/* momo popup start */
.momo-popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* overflow: hidden; */
    background: #FAFAFA;
}

.momo-popup-wrapper-inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    background: #fff;
}

/* left-container start */

.left-container {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr auto;
    grid-template-areas:
        "order-timeout"
        "order-distributor"
        "order-total-price"
        "order-info"
        "order-id"
        "back-to";
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.order-timeout {
    grid-area: order-timeout;
}

.order-distributor {
    grid-area: order-distributor;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.order-total-price {
    grid-area: order-total-price;
}

.order-info {
    grid-area: order-info;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.order-id {
    grid-area: order-id;
}

.back-to {
    grid-area: back-to;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

/* left-container end */

/* right-container start */

.right-container {
    display: grid;
    grid-template-rows: auto 5fr auto;
    grid-template-areas:
        "logos-section"
        "qrcode-section"
        "signup-section";
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.logos-section {
    grid-area: logos-section;
}

.qrcode-section {
    grid-area: qrcode-section;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.signup-section {
    grid-area: signup-section;
}

/* right-container end */

.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spinner  start */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* spinner end */

/* loader start */
.loader {
    border: 14px solid #ddd;
    border-radius: 50%;
    border-top: 14px solid #3498db;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader end */

/* momo popup end */